<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Welcome Page</title>
</head>

<body>
     <header>
          <h1>Welcome to The Employee Management System</h1>
     </header>
     <div>
          <hr>
          <!-- Link to display the list of employees -->
          <a th:href="@{/emp/display}">Display List of Employees</a>
          <hr>
        
     </div>
</body>

</html>