<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" th:href="@{/css/style.css}">
     <title>Employee Form</title>
</head>

<body>
     <h1 style="text-align: center;">Enter Employee Details</h1>
     <br>
     <hr>
     <a th:href="@{/}" style="align-content: center;">Home</a><br>
     <hr>
     <div>
          <form th:action="@{/emp/employee}" method="POST">
               <b>Enter First Name : </b> <input type="text" placeholder="First Name" name="firstName" required><br><br>
               <b>Enter Last Name : </b> <input type="text" name="lastName" placeholder="Last Name" required><br><br>
               <b>Enter Email: </b> <input type="email" name="email" placeholder="email"><br><br>
               <b>Enter Mobile Number : </b> <input type="tel" placeholder="Mobile Number" name="mobileNumber"
                    pattern="[0-9]{10}" minlength="10" maxlength="10" required><br>
               <br>
               <input type="submit" value="submit"><input type="reset" value="reset">
          </form>


     </div>

</body>

</html>